$primary: #0099cc;

.title {
  color: $primary;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  list-style: none;

  a {
    font-weight: bold;
    padding: 0 1rem;
    text-decoration: none;
  }
}