<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ htmlWebpackPlugin.options.title }}</title>

<body>
  <div id="page-container" class="page-container">
    {{> ../partials/navbar }}
    <div class="content-container">

      <section class="video-section">
        <div class="preview-capture-container">
          <div id="container">
            <h3>Preview</h3>
            <video autoplay="true" id="videoElement">

            </video>
          </div>
        </div>

        <div class="btn-container">
          <button id="start-record" type="button" class="app-btn">Iniciar Gravação</button>
          <button id="stop-record" type="button" class="app-btn">Parar Gravação</button>
        </div>

        <ul id="lista-download" class="lista-download">
        <h4>Lista de Gravações</h4>

        </ul>
      </section>

    </div>
    {{> ../partials/footer}}
  </div>
</body>

</html>