<nav>
  <ul class="navbar">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="foto.html">Captura de Foto</a>
    </li>
    <li>
      <a href="video.html">Captura de Vídeo</a>
    </li>
    <li>
      <a href="audio.html">Captura de Áudio</a>
    </li>
    <li>
      <a href="assinatura.html">Captura de Assinatura</a>
    </li>
  </ul>
</nav>