<nav>
  <ul class="navbar">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="video.html">Captura de Vídeo</a>
    </li>
    <li>
      <a href="audio.html">Captura de Áudio</a>
    </li>
  </ul>
</nav>