<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ htmlWebpackPlugin.options.title }}</title>

<body>
  <div id="page-container" class="page-container">
    {{> partials/navbar }}

    <section class="content-container">
      <h1 class="h1-title" >Captura de Vídeo, Áudio e Assinatura</h1>
      <h3 class="h3-subtitle">Usando WEB API's para captura de Mídia.</h3>
      <img src="./assets/policial-vetor.svg" class="image-responsive"/>
    </section>

    {{> partials/footer }}
  </div>
</body>

</html>